@use '../../variables' as var; 

.register {

    background-color: black;
    color: white;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__form {
        width: 70%;
        padding: 2rem;
        border-radius: 25px;
        padding: 5rem;
        animation: shadow-cycle 10s infinite;
        margin: 7rem auto;

        @media only screen and (max-width: var.$bp-900px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        @media only screen and (max-width: var.$bp-700px) {
          width: 80%;
        }        

        @media only screen and (max-width: var.$bp-500px) {
          width: 90%;
        }
    }
    
    &__title {
        font-size: 3rem;
        margin: 2rem 0;

        @media only screen and (max-width: var.$bp-1000px) {
          font-size: 2rem;
        }
    }

    &__heading {
        margin-top: 1rem;
    }

    &__input {
        margin: 1.5rem 1rem;
        padding: 2rem;
        background-color: rgb(201, 201, 201);
        border: none;
        outline: none;
        border-radius: 25px;
        transition: all .2s;

        &::-webkit-input-placeholder {
            color: rgb(83, 83, 83);
        }

        &:focus {
            transform: scale(1.1);
        }

        @media only screen and (max-width: var.$bp-1000px) {
          padding: 1.5rem;
        }

        @media only screen and (max-width: var.$bp-400px) {
          padding: 1rem;
        }
    }

    &__error {
      color: red;
    }

    &__tnc, &__error {
        padding: 2rem;
        font-size: 1.5rem;

        @media only screen and (max-width: var.$bp-400px) {
          font-size: 1.3rem;
        }
    }
}

@keyframes shadow-cycle {
    0% {
      border: 3px solid violet;
      box-shadow: 4px 0px 75px violet;
    }
    25% {
      border: 3px solid pink;
      box-shadow: 4px 0px 75px pink;
    }
    50% {
      border: 3px solid yellowgreen;
      box-shadow: 4px 0px 75px yellowgreen;
    }
    75% {
      border: 3px solid cyan;
      box-shadow: 4px 0px 75px cyan;
    }
    100% {
      border: 3px solid violet;
      box-shadow: 4px 0px 75px violet;
    }
  }  