@use '../../variables' as var;

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white;

    &__heading {
        font-size: 10rem;
        font-weight: 700;
        margin: 2rem;

        @media only screen and (max-width: var.$bp-1000px) {
            font-size: 8rem;
        }

        @media only screen and (max-width: var.$bp-800px) {
            font-size: 6rem;
        }

        @media only screen and (max-width: var.$bp-400px) {
            font-size: 5rem;
        }
    }

    &__user-options {
        display: flex;
        padding: 2rem;        
    }

    &__button {
        margin: 2rem;
        outline: none;
        border: none;
        box-shadow: var(--box-shadow);
        border-radius: 25px;
        padding: 2rem;
        width: 20rem;
        background-color: white;
        font-size: 1.8rem;
        transition: all .2s;

        &:hover {
            transform: translateY(-4px) translateX(4px);
        }

        @media only screen and (max-width: var.$bp-400px) {
            font-size: 2rem;
            width: 18rem;
        }
    }
}