*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --box-shadow: 4px 0px 100px #c4bdbd;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: sans-serif;
}

.btn-maroon {
  padding: 1rem 5rem;
  outline: none;
  background: linear-gradient(to right, maroon, #FF6969);
  border: none;
  border-radius: 25px;
  color: white;
  transition: all .2s;
  
  &:hover {
      transform: translateY(-4px);
  }
}